{{ block "index" .}}
<html>
  <head>
    <title>AI Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </head>
  <body>
    <p>Test value</p>
    <button hx-get="/models" hx-target="#response" hx-swap="outerHTML">
      Models
    </button>
    {{ template "response" .Response}}
  </body>
</html>
{{end}} {{ block "response" .}}
<div id="response">
  {{ if .}}
  <p>{{.}}</p>
  {{end}}
</div>
{{end}}
